/* colors: #f56f6c; #65aaaf; #c7c4d5;

font-family: 'Alfa Slab One', cursive;



*/

body {
    margin: 0;
    padding: 0;
    background-color: #312f3c;
    background: url("/img/bg.jpg") no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font-family: "Alfa Slab One", cursive;
    font-family: "Exo 2", sans-serif;
}

h1 {
    font-family: "Alfa Slab One", cursive;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: #f56f6c;
}

h2 {
    font-family: "Exo 2", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #c7c4d5;
    margin: 0;
    margin-bottom: 40px;
}

.error {
    color: #f56f6c;
}

/* ---------------- REGISTER FORM --------- */

.register-form,
.login-form {
    position: absolute;
    box-sizing: border-box;
    content: "";
    top: 150px;
    left: calc(50% - 400px);
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #4138e0;
    background: rgba(18, 17, 35, 0.5);
    border-radius: 10px;
    display: flex;
    box-shadow: 10px 10px 16px -4px rgba(18, 17, 35, 0.66);
}

.login-form .light-side {
    padding-top: 40px;
}

.light-side input,
.login-form input {
    box-sizing: border-box;
    border: 2px solid #4138e0;
    background-color: transparent;
    padding-left: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
    height: 50px;
    width: 300px;
    border-radius: 3px;
    display: block;
}

.light-side input:hover,
.light-side input:focus,
.login-form input:hover,
.login-form input:focus {
    border: 2px solid #f56f6c;
}

.light-side button,
.login-form button {
    display: block;
    box-sizing: border-box;
    border: none;
    margin: 0 auto;
    background-color: #4138e0;
    width: 300px;
    height: 50px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.light-side button:hover,
.light-side button:focus,
.login-form button:hover,
.login-form button:focus {
    background-color: transparent;
    color: #fff;
    border: 2px solid #4138e0;
}

.login-link,
.logout-link {
    box-sizing: border-box;
    color: #4138e0;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #4138e0;
    border-radius: 3px;
    padding: 8px;
    display: block;
    width: 220px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.login-link:hover,
.login-link:focus {
    border: 2px solid #f56f6c;
}

.login-link:hover,
.login-link:focus {
    border: 2px solid #f56f6c;
    background-color: rgba(18, 17, 35, 0.5);
    color: #c7c4d5;
}

.logout-link {
    display: inline;
}

.dark-side,
.light-side {
    position: relative;
    box-sizing: border-box;
}

.dark-side h2,
.light-side h2,
.bioEditor-container h2 {
    font-family: "Alfa Slab One", cursive;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #f56f6c;
}

.login-form .dark-side {
    border-right: none;
    border-left: 2px solid #4138e0;
}

.dark-side {
    width: 45%;
    background-color: #121123;
    border-right: 2px solid #4138e0;
    padding: 100px 50px 40px 50px;
    line-height: 2;
    text-align: center;
}

.light-side {
    width: 55%;
    padding: 30px 50px 20px 50px;
}

.dark-side .logo,
.light-side .logo {
    width: 30px;
    height: 30px;
    border: 1px solid #f56f6c;
    border-radius: 5px;
    position: absolute;
    content: "";
    top: 15px;
    left: 15px;
}

.dark-side p {
    color: #c7c4d5;
    margin-bottom: 40px;
}

.logo-small {
    width: 30px;
    height: 30px;
}

/* ---------------- HEADER --------- */

.header {
    box-sizing: border-box;
    border-bottom: 2px solid #f56f6c;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding-bottom: 20px;
    position: relative;
}

.logo {
    width: 80px;
    height: 80px;
    border: 2px solid #f56f6c;
    border-radius: 10px;
}

.logo img {
    position: ;
}

.profilepic {
    width: 84px;
    height: 84px;
    overflow: hidden;
}

.profilepic:hover,
.profilepic:focus {
    outline: 2px solid #f56f6c;
}

.profilepic:active {
    opacity: 0.5;
}

.user-name {
    color: #c7c4d5;
    font-family: "Exo 2", sans-serif;
    font-family: 300;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.light-side .bio-field {
    box-sizing: border-box;
    border: 2px solid #4138e0;
    background-color: #c7c4d5;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #4138e0;
    height: 80px;
    width: 300px;
    border-radius: 3px;
}

.bio-text {
    color: #c7c4d5;
    text-align: center;
}

/* ---------------- LOGIN FORM --------- */
.login-form {
    text-align: center;
}

/* ---------------- UPLOAD PROFILE MODAL --------- */
.uploader {
    position: absolute;
    content: "";
    top: 200px;
    width: 600px;
    left: calc(50% - 330px);
    border-radius: 10px;
    border: 2px solid #4138e0;
    background: rgba(18, 17, 35, 0.5);
    padding: 30px;
    text-align: center;
}

.uploader input {
    border: 2px solid #4138e0;
    background-color: transparent;
    padding-left: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
    height: 50px;
    width: 300px;
    border-radius: 3px;
}
.uploader input:hover,
.uploader input:focus {
    border: 2px solid #65aaaf;
}

.uploader button {
    border: none;
    display: block;
    margin: 0 auto;
    background-color: #4138e0;
    width: 320px;
    height: 50px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.uploader button:hover,
.uploader button:focus {
    background-color: #65aaaf;
}

/* ---------------- PROFILE INFO --------- */

.browserRouter-container {
    box-sizing: border-box;
    width: 800px;
    border: 2px solid #4138e0;
    box-shadow: 10px 10px 16px -4px rgba(18, 17, 35, 0.66);
    border-radius: 10px;
    margin: 0 auto;
}

.profile-container,
.otherProfile-container {
    display: flex;
    border-radius: 10px;
}

.profile-container img,
.otherProfile-container img {
    width: 140px;
    height: 140px;
}

.profile-container .dark-side {
    padding-top: 50px;
}

.dark-side .profilepic {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

/* ---------------- BIO EDITOR --------- */

.bioEditor-container {
    text-align: center;
    color: #c7c4d5;
}

.biolink-add {
    color: #c7c4d5;
    display: block;
    box-sizing: border-box;
    border: 2px solid #4138e0;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 13px;
}

.biolink-add:hover,
.biolink-add:focus {
    border: 2px solid #f56f6c;
}

.otherProfile-container {
}
